body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

section {
  margin: 1rem;
}

table {
  margin-top: 0.5rem;
}

.page-footer .footer-copyright {
  background: none;
}
